# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
env/
myenv/
*.env

# IDE
.vscode/
.idea/

# Compiled files
*.pyc
*.pyo
*.pyd

# Python package metadata
*.egg-info

# Build and distribution directories
build/
dist/